#applicationForm{
  width: 750rpx;
  background-color: #efebeb66;
  .formInner{
    background-color: white;
    /deep/.evan-form-item-container{
      padding: 0 30rpx;
      .evan-form-item-container__label{
        font-size: 34rpx;
        color: #999999;
      }
    }
    .form-input {
      color: #333;
      text-align: right;
      width: 100%;
      box-sizing: border-box;
      height: 60rpx;
      &.textarea{
        height: 240rpx;
        padding: 24rpx 0;
        text-align: left;
      }
      /deep/.uni-input-input{
        font-size: 34rpx !important;
      }
    }
    .form-input-placeholder {
      font-size: 32rpx;
      color: #999999;
    }
    uni-picker{
      width: 100%;
      height: 90rpx;
      .uni-input{
        text-align: right;
        font-size: 32rpx;
        color: #999999;
        height: 90rpx;
        line-height: 90rpx;
      }
    }
  
    .customize-form-item {
      display: flex;
      justify-content: space-between;
      padding: 16rpx 30rpx;
      height: 60rpx;
      line-height: 60rpx;
      .customize-form-item__label::before{
        content: '*';
        color: #F56C6C;
        width: 15px;
        display: inline-block;
      }
    }
  }


  .describe,.approval-process{
    &>div:nth-child(1){
      display: flex;
      padding-left: 30rpx;
      padding-top: 30rpx;
      padding-bottom: 10rpx;
      &>div:nth-child(1){
        height: 40rpx;
        width: 4rpx;
        background-image: linear-gradient(180deg, #0091FF 0%, #44D7B6 100%);
        border-radius: 5.5px;
        border-radius: 5.5px;
        margin-right: 8rpx;
        margin-top: 6rpx;
      }
      &>div:nth-child(2){
        font-size: 34rpx;
        color: #333333;
        font-weight: 600;
      }
    }
    .describeInner{
      background-color: white;
      width: 750rpx;
      height: 306rpx;
      padding-top: 20rpx;
      textarea{
        text-indent: 36rpx;
        font-size: 32rpx;
      }
      .placeholder-class{
        font-size: 32rpx;
        color: #999999;
        text-indent: 36rpx;
      }
    }
  }
  .approval-process{

  }
  .steps{
    width: 720rpx;
    padding: 38rpx 0 38rpx 30rpx;
    background-color: white;
    .steps-main{
      display: flex;
      .line{
        width: 16rpx;
        padding-top: 15rpx;
        position: relative;
        height: 296rpx;
        &>div:nth-child(1){
          width: 16rpx;
          height: 16rpx;
          border-radius: 50%;
        }
        &>div:nth-child(2){
          width: 2rpx;
          height: 296rpx;
          position: absolute;
          background-color: #C4DFFF;
          margin-left: 7rpx;
        }
      }
      .inner{
        display: flex;
        flex-direction: column;
        margin-left: 39rpx;
        strong{
          font-size: 28rpx;
          color: #333333;
          font-weight: 400;
        }
        img{
          width: 58rpx;
          height: 58rpx;
          border-radius: 4rpx;
          margin: 7rpx 0 4rpx;
        }
        span{
          font-size: 24rpx;
          color: #333333;
        }
      }
      .line1{
        &>div:nth-child(1){
          background-color: #31A6FF;
        }
      }
      .line2{
        &>div:nth-child(1){
          background-color: #1EC7C6;
        }
      }
      .line3{
        &>div:nth-child(1){
          background-color: #FC4747;
        }
      }
      .line4{
        &>div:nth-child(1){
          background-color: #1bbf52;
        }
      }
      .line5{
        &>div:nth-child(1){
          background-color: #b9de13;
        }
      }
    }
  }
  .bg-div{
    padding-bottom: 166rpx;
    margin-top: 45rpx;
    width: 750rpx;
  }
  .bottom-div{
    height: 166rpx;
    width: 750rpx;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: white;
    text-align: center;
    padding-top: 10rpx;
    button{
      background-color: #0F8EFF;
      border-color: #0F8EFF;
      width: 540rpx;
      height: 88rpx;
      color: white;
      font-size: 34rpx;
      text-align: center;
      border-radius: 44rpx;
    }
  }
}