/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color: #333;//基本色
$uni-text-color-inverse: #fff;//反色
$uni-text-color-grey: #999;//辅助灰色，如加载更多的提示信息
$uni-text-color-grey-dark: #676767;
$uni-text-color-placeholder: #AAABAE;
$uni-text-color-disable: #c0c0c0;

/* 背景颜色 */
$uni-bg-color: #ffffff;
$uni-bg-color-grey: #F7F7F8;
$uni-bg-color-blue: #368DFF;
$uni-bg-color-hover: #f1f1f1;//点击状态颜色
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);//遮罩颜色

/* 通用颜色 */ 
$uni-color-white: #ffffff;
$uni-color-blue: #368DFF;
$uni-color-red: #FF5656;
$uni-color-yellow: #F78612;

/* 边框颜色 */
$uni-border-color: #EBEDEF;
